* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

body {
  background: linear-gradient(0deg, #000000 0%, #350a85 100%);
}

img {
  max-width: 100%;
  display: flex;
  width: 200px;
  margin: 25px;
}

main {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(0deg, #000000 0%, #190047 100%);
  color: white;
  margin: 150px 150px 0px;
  padding: 20px;
  border-radius: 15px;
  border: 4px solid #ffffff;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
}

h2 {
  font-size: 25px;
  padding: 15px;
  margin: 15px;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
}

.navegador {
  padding: 8px;
  display: flex;
  width: auto;
  font-size: 18px;
  border: 2px solid #ffffff;
  border-radius: 10px;
}

.container-sobremim {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-around;
}

.container-sobremim--titulo {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-sobremim--informacoes {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.texto-sobremim {
  display: flex;
  gap: 20px;
  margin-top: 50px;
  font-size: 20px;
  padding: 0px 50px;
  flex-direction: column;
}

.painel_tecnologias {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-around;
}

.img--Thiago {
  border: 6px solid #000000;
  width: 250px;
}

.container-linguagens {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
